@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Montserrat:wght@500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-purple: #4a49ff;
    --second-purple: #3d3df8;
    --first-dark-purple: #212170;
    --second-dark-purple: #03045e;
    --primary-white: #fdfdff;
    --primary-gray: #e5e5e9;
    --primary-green: #98d640;
    --second-green: #658b30;
    --third-green: #85c927;
    --dark-green: #233011;
    --coin-color: #ffb821;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    text-decoration: none;
    outline: none;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-white);
    overflow-x: hidden;
}

/*Global Classes*/

.btn,
.btn-green {
    padding: 0.75rem;
    border-radius: 5px;
    margin: 0.25rem;
    transition: all 0.5s;
}

.btn {
    background-color: var(--primary-purple);
    color: var(--primary-white);
}

.btn-green {
    background-color: var(--primary-green);
    color: var(--primary-white);
}

.btn-green:hover {
    background-color: var(--second-green);
}

.green-color {
    color: var(--primary-green);
}

.white-color {
    color: var(--primary-white);
}

/*Header*/
.main-header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-main-header {
    margin: 0 auto;
    padding: 1rem;
}

.content-main-header a {
    cursor: pointer;
}

.logo-main-header {
    width: 15rem;
    height: 3rem;
}

.list-header-nav {
    display: flex;
    gap: 2.5rem;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.list-header-nav li a {
    color: var(--primary-purple);
    font-weight: 600;
}

.header-navigation .list-header-nav li a:hover {
    color: var(--primary-green);
    cursor: pointer;
}

/*First Section*/

#first-section {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.left-side,
.right-side {
    z-index: 20;
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    justify-content: center;
    text-align: left;
    gap: 2rem;
    margin-bottom: 8rem;
    margin-left: 4rem;
}

.left-side .buttons {
    display: flex;
}

.left-side .title-left-side {
    color: var(--primary-purple);
    text-align: left;
    font-size: 2rem;
    max-width: 400px;
}

.left-side .description {
    color: var(--primary-purple);
    font-weight: 500;
    max-width: 500px;
    font-size: 1rem;
}

.right-side {
    width: 40%;
    position: relative;
    margin-left: 2rem;
    transition: all 1s;
    margin-bottom: 3rem;
}

.first-card {
    width: 250px;
    height: 450px;
    margin-bottom: 6rem;
    border-radius: 10px;
    box-shadow: 05px 05px 20px #2222221f;
    transition: all 1s;
}

.first-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.second-card {
    width: 250px;
    height: 450px;
    margin-bottom: 6rem;
    border-radius: 10px;
    position: absolute;
    right: 8rem;
    top: 5rem;
    z-index: -1;
    transition: all 1s;
    box-shadow: 05px 05px 20px #2222221f;
}

.second-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.right-side:hover .first-card {
    margin-top: 4rem;
}

.right-side:hover .second-card {
    top: 2rem;
}

.third-card {
    width: 250px;
    height: 450px;
    margin-bottom: 6rem;
    border-radius: 10px;
    z-index: -2;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 1s;
    box-shadow: 05px 05px 20px #2222221f;
}

.third-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*About Section*/

#about-section {
    width: 100%;
    height: 100vh;
    background: var(--primary-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
}

.about-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.about-header .title-section::before {
    content: "";
    display: block;
    height: 2px;
    width: 250px;
    margin: 5px auto;
    background-color: var(--primary-gray);
}

.about-header .title-section {
    color: var(--primary-white);
    margin: 1rem auto;
    font-size: 2.5rem;
}

.about-header .title-section::after {
    content: "";
    display: block;
    height: 2px;
    width: 300px;
    margin: 5px auto;
    background-color: var(--primary-gray);
}

.description-about {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--dark-green);
    font-weight: 400;
    max-width: 500px;
}

.description-about span {
    font-weight: 600;
    max-width: 800px;
    font-size: 1.5rem;
}

.cards-about {
    display: flex;
    text-align: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.cards-about .card-about {
    max-width: 275px;
    height: 400px;
    background: rgba(115, 216, 5, 0.05);
    box-shadow: 0 8px 32px 0 rgba(25, 37, 22, 0.301);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    top: 3rem;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
