@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --primary-font: "Montserrat", sans-serif;
  --second-font: "Poppins", sans-serif;
  --primary-purple: #4a49ff;
  --second-purple: #3d3df8;
  --first-dark-purple: #212170;
  --second-dark-purple: #03045e;
  --primary-white: #fdfdff;
  --primary-gray: #e5e5e9;
  --primary-green: #98d640;
  --second-green: #658b30;
  --third-green: #85c927;
  --dark-green: #233011;
  --coin-color: #ffb821;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  text-decoration: none;
  outline: none;
  list-style: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-white);
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
  background: linear-gradient(var(--second-green));
}

::-webkit-scrollbar {
  background: linear-gradient(var(--second-green));
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--second-green));
}

/*Global Classes*/

.btn,
.btn-green {
  padding: 0.75rem;
  border-radius: 5px;
  margin: 0.25rem;
  transition: all 0.5s;
}

.btn {
  background-color: var(--primary-purple);
  color: var(--primary-white);
}

.btn:hover {
  background-color: var(--first-dark-purple);
}

.btn-green {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

.btn-green:hover {
  background-color: var(--second-green);
}

.green-color {
  color: var(--primary-green);
}

.white-color {
  color: var(--primary-white);
}

/*Header*/
#main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: aparece 1.5s;
}

.content-main-header {
  margin: 0 auto;
  padding: 1rem;
  z-index: 10;
}

.content-main-header a {
  cursor: pointer;
}

.logo-main-header {
}

.list-header-nav {
  display: flex;
  gap: 2.5rem;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 20rem;
}

.list-header-nav li a {
  color: var(--primary-purple);
  font-weight: 600;
  cursor: pointer;
}

.header-navigation .list-header-nav li a:hover {
  color: var(--primary-green);
}

.title-section {
  font-size: 3rem;
  color: var(--primary-purple);
}

.title-section::before {
  content: "";
  display: block;
  height: 2px;
  width: 250px;
  margin: 5px auto;
  background-color: var(--primary-purple);
}

.title-section::after {
  content: "";
  display: block;
  height: 2px;
  width: 280px;
  margin: 5px auto;
  background-color: var(--primary-purple);
}

/*First Section*/

#first-section {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  margin-bottom: 8rem;
  margin-left: 4rem;
  animation: aparece 1.5s;
}

.left-side .buttons {
  display: flex;
}

.left-side .title-left-side {
  color: var(--primary-purple);
  text-align: left;
  font-size: 2rem;
  max-width: 400px;
}

.left-side .description {
  color: var(--primary-purple);
  font-weight: 500;
  max-width: 500px;
  font-size: 1rem;
}

.right-side {
  width: 40%;
  position: relative;
  margin-left: 2rem;
  transition: all 1s;
  margin-bottom: 3rem;
  z-index: 100;
  animation: aparece 3s;
}

.first-card {
  width: 250px;
  height: 450px;
  margin-bottom: 6rem;
  border-radius: 10px;
  box-shadow: 05px 05px 20px #2222221f;
  transition: all 1s;
}

.first-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.second-card {
  width: 250px;
  height: 450px;
  margin-bottom: 6rem;
  border-radius: 10px;
  position: absolute;
  right: 8rem;
  top: 5rem;
  z-index: -1;
  transition: all 1s;
  box-shadow: 05px 05px 20px #2222221f;
}

.second-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.right-side:hover .first-card {
  margin-top: 4rem;
}

.right-side:hover .second-card {
  top: 2rem;
}

.third-card {
  width: 250px;
  height: 450px;
  margin-bottom: 6rem;
  border-radius: 10px;
  z-index: -2;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s;
  box-shadow: 05px 05px 20px #2222221f;
}

.third-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*About Section*/

#about-section {
  width: 100%;
  height: 100vh;
  background: var(--primary-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: -1;
}

.about-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.about-header .title-section::before {
  content: "";
  display: block;
  height: 2px;
  width: 250px;
  margin: 5px auto;
  background-color: var(--dark-green);
}

.about-header .title-section {
  color: var(--primary-white);
  margin: 1rem auto;
  font-size: 2.5rem;
}

.about-header .title-section::after {
  content: "";
  display: block;
  height: 2px;
  width: 300px;
  margin: 5px auto;
  background-color: var(--dark-green);
}

.description-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--dark-green);
  font-weight: 400;
  max-width: 500px;
}

.description-about span {
  color: var(--primary-white);
  font-weight: 600;
  font-size: 1.5rem;
  max-width: 800px;
}

.cards-about {
  display: flex;
  text-align: center;
  gap: 2rem;
  margin-bottom: 8rem;
  z-index: 100;
}

.cards-about .card-about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  max-width: 275px;
  height: 375px;
  font-family: var(--second-font);
  background-color: var(--primary-white);
  color: var(--dark-green);
  box-shadow: 0 8px 16px 3px rgba(25, 37, 22, 0.137);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 1rem;
}

.card-about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-green);
  -webkit-clip-path: circle(30% at right 5%);
  clip-path: circle(30% at right 5%);
}

.card-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-green);
  -webkit-clip-path: circle(15% at left 80%);
  clip-path: circle(10% at left 90%);
}

.description-card {
  font-size: 0.95rem;
  max-width: 280px;
  text-transform: uppercase;
  font-weight: 600;
}

.card-about i {
  font-size: 50px;
  color: var(--primary-green);
  margin-top: 10px;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  top: 192.5%;
  width: 200%;
  height: 20%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move_wave 22s linear infinite;
}
.waveMiddle {
  background-size: 50% 120;
}
.waveAnimation .waveMiddle {
  animation: move_wave 25s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 28s linear infinite;
}

.bgGTop {
  z-index: 15;
  opacity: 0.5;
}
.bgGMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgGBottom {
  z-index: 5;
}
.waveG {
  position: absolute;
  left: 0;
  top: 92.5%;
  width: 200%;
  height: 20%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveGTop {
  background-size: 50% 100px;
}
.waveGAnimation .waveGTop {
  animation: move_wave 22s linear infinite;
}
.waveGMiddle {
  background-size: 50% 120px;
}
.waveGAnimation .waveGMiddle {
  animation: move_wave 25s linear infinite;
}
.waveGBottom {
  background-size: 50% 100px;
}
.waveGAnimation .waveGBottom {
  animation: move_wave 28s linear infinite;
}

.bgPTop {
  z-index: 15;
  opacity: 0.5;
}
.bgPMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgPBottom {
  z-index: 5;
}

.waveP {
  position: absolute;
  left: 0;
  top: 292%;

  width: 200%;
  height: 20%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wavePTop {
  background-size: 50% 100px;
}
.wavePAnimation .wavePTop {
  animation: move_wave 12s linear infinite;
}
.wavePMiddle {
  background-size: 50% 120px;
}
.wavePAnimation .wavePMiddle {
  animation: move_wave 15s linear infinite;
}
.wavePBottom {
  background-size: 50% 100px;
}
.wavePAnimation .wavePBottom {
  animation: move_wave 18s linear infinite;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

#calcs {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.calc-div {
  display: flex;
  min-width: 250px;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-purple);
  border-radius: 05px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.calc-div:hover {
  transform: scale(1.15);
}

.calc-div h3 {
  color: var(--primary-white);
  max-width: 200px;
  position: absolute;
  z-index: 20;
}

.calc-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 05px;
  opacity: 0.4;
  mix-blend-mode: darken;
}

.calculadoras {
  display: flex;
  gap: 3rem;
  margin-bottom: 6rem;
}

#modalbg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
}

#calc-js,
#calc-jc,
#calc-desc {
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white);
  position: fixed;
  z-index: 150;
  border-radius: 5px;
  display: none;
}

.header-calc {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--primary-purple);
  border-radius: 5px 5px 0 0;
}
.header-calc h4 {
  font-size: 1rem;
  color: var(--primary-white);
  cursor: pointer;
}

.header-calc i {
  font-size: 1rem;
  color: var(--primary-white);
  cursor: pointer;
}

.calc-content {
  display: flex;
  width: 100%;
  padding: 2rem;
  align-items: center;
}

.resultado {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  color: var(--dark-green);
  font-size: 1.3rem;
  font-weight: 500;
}

.resultado header i {
  color: var(--primary-green);
}

.calc-content form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.calc-content form label {
  font-size: 1.2rem;
  font-weight: 500;
}

.calc-content form input {
  margin: 1rem 0;
  width: 50%;
  height: 1.5rem;
  padding: 0.5rem;
  background-color: var(--primary-gray);
}

.span-calc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 2rem;
  color: var(--primary-white);
  background-color: var(--primary-purple);
  border-radius: 0 0 5px 5px;
}

.btnSub {
  width: 8rem;
  height: 2rem;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  cursor: pointer;
}

.footer-site {
  width: 100%;
  height: 100%;
  padding: 4rem;
  background-color: var(--primary-purple);
}

.content-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: left;
}

.logo-footer-site {
  width: 18rem;
  height: 5rem;
  margin-left: 2rem;
}

.footer-list {
  text-align: left;
  margin: 0;
}

.footer-list li h4 {
  margin-bottom: 0.5rem;
}

.footer-list li,
a {
  text-align: left;
  font-size: 1.1rem;
  margin: 0.5rem;
  color: var(--primary-white);
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 787px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  #first-section {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .right-side {
    display: none;
  }

  .content-main-header {
    width: 100%;
  }

  .logo-main-header {
    margin: 0;
    width: 10rem;
    height: 5rem;
  }

  .list-header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-size: 10px;
  }

  .list-header-nav li {
    width: 5.5rem;
    height: 100%;
    text-align: left;
  }

  .list-header-nav li a {
    width: 3rem;
    font-size: 0.95rem;
  }

  .header-navigation {
    width: 100%;
    padding: 0;
    gap: 0;
    align-items: center;
  }

  .left-side {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    margin: 0 0 10rem auto;
  }

  .left-side .title-left-side {
    text-align: center;
    font-size: 2rem;
    max-width: 100%;
  }

  .left-side .description {
    max-width: 400px;
  }

  /*About Section*/

  #about-section {
    width: 100%;
    height: 100%;
  }

  .about-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .about-header .title-section::before {
    content: "";
    display: block;
    height: 2px;
    width: 150px;
    margin: 5px auto;
    background-color: var(--dark-green);
  }

  .about-header .title-section::after {
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    margin: 5px auto;
    background-color: var(--dark-green);
  }

  .about-header .title-section {
    font-size: 1.5rem;
  }

  .description-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--dark-green);
    font-weight: 400;
    max-width: 300px;
    font-size: 1rem;
  }

  .description-about span {
    color: var(--primary-white);
    font-weight: 600;
    font-size: 1rem;
    max-width: 900px;
  }

  .cards-about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
    z-index: 100;
  }

  .cards-about .card-about {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    max-width: 275px;
    height: 375px;
    font-family: var(--second-font);
    background-color: var(--primary-white);
    color: var(--dark-green);
    box-shadow: 0 8px 16px 3px rgba(25, 37, 22, 0.137);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 1rem;
  }

  .card-about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-green);
    -webkit-clip-path: circle(30% at right 5%);
    clip-path: circle(30% at right 5%);
  }

  .card-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-green);
    -webkit-clip-path: circle(15% at left 80%);
    clip-path: circle(10% at left 90%);
  }

  .description-card {
    font-size: 0.85rem;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .card-about i {
    font-size: 50px;
    color: var(--primary-green);
    margin-top: 10px;
  }

  .waveG,
  .waveid,
  .waveP {
    display: none;
  }

  #calcs {
    width: 100%;
    height: 100100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }

  .title-section {
    text-align: center;
    font-size: 2.2rem;
  }

  .calc-div {
    flex-direction: column;
    align-items: center;
  }

  .calc-div h3 {
    text-align: center;
  }

  .calculadoras {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 6rem;
  }

  #calc-js,
  #calc-jc,
  #calc-desc {
    width: 400px;
    height: 300px;
    position: fixed;
  }

  .header-calc {
    height: 2.5rem;
  }
  .header-calc h4 {
    font-size: 0.8rem;
  }

  .header-calc i {
    font-size: 1rem;
    padding: 1.2rem 0 1.2rem;
  }

  .calc-content {
    display: flex;
    width: 100%;
    height: 78%;
    padding: 2rem;
    align-items: center;
  }

  .resultado {
    gap: 1rem;
    font-size: 1rem;
  }

  .resultado header i {
    color: var(--primary-green);
  }

  .resultado header span {
    font-size: 0.9rem;
  }

  .calc-content form {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .calc-content form label {
    font-size: 0.75rem;
    font-weight: 500;
  }

  .calc-content form input {
    margin: 1rem 0;
    width: 50%;
    height: 1rem;
    padding: 0.5rem;
    background-color: var(--primary-gray);
  }

  .btnSub {
    width: 4.5rem;
    height: 2rem;
  }

  .span-calc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer-site {
    width: 100%;
    height: 100%;
    padding: 4rem;
    background-color: var(--primary-purple);
  }

  .content-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
  }

  .logo-footer-site {
    width: 18rem;
    height: 5rem;
    margin-left: -0.5rem;
  }

  .footer-list {
    text-align: left;
    margin: 0;
  }

  .footer-list li h4 {
    margin-bottom: 1rem;
  }

  .footer-list li,
  a {
    text-align: left;
    font-size: 1.1rem;
    margin: 0.5rem;
    color: var(--primary-white);
  }
}
